<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI0ec3lAbimCuOKSAxOU1jRrpHSSWeo8s</string>
	<key>GCM_SENDER_ID</key>
	<string>927988746065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmfeeders</string>
	<key>PROJECT_ID</key>
	<string>farmflow-5f14e</string>
	<key>STORAGE_BUCKET</key>
	<string>farmflow-5f14e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927988746065:ios:f83c98c2eab4e06be37570</string>
</dict>
</plist>